In [10]:
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup as bs
from tqdm.notebook import tqdm
from time import sleep
from copy import deepcopy

# парсинг

In [6]:
page = bs(requests.get('https://dict.fu-lab.ru/dict-p?id=238837&letter1=а').text, 'lxml')

линки с буквами

In [7]:
links = ['https://dict.fu-lab.ru' + a['href'] for a in page.find('div', {'class': 'alphabet_div'}).findAll('a')]
links

['https://dict.fu-lab.ru/dict-p?id=238837&letter1=а',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=а',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=̄',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=б',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=в',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=г',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=д',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=е',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=е',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=̄',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=ё',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=ё',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=̄',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=ж',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=з',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=и',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=ӣ',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=й',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=к',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=л',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=м',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=н',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=ӈ',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=о',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=о',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=̄',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=п',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=р',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=с',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=т',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=у',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=ӯ',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=ф',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=х',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=ц',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=ч',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=ш',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=щ',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=ъ',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=ы',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=ы',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=̄',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=ь',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=э',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=э',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=̄',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=ю',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=ю',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=̄',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=я',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=я',
 'https://dict.fu-lab.ru/dict-p?id=238837&letter1=̄']

In [12]:
pages = []
na_links = []
for link in tqdm(links):
    response = requests.get(link)
    if response.ok:
        pages.append(response.text)
    else:
        print('unavailable link:', link)
        na_links.append(link)
    sleep(0.5)

  0%|          | 0/52 [00:00<?, ?it/s]

номера страниц для каждой из букв

In [22]:
all_pages = []
for page in tqdm(pages, desc='Letter pages'):
    all_pages.append(page)
    soup = bs(page, 'lxml')
    inner_links = soup.find('div', {'class': 'paginator_dict'}).findAll('a')
    inner_links = [a['href'] for a in inner_links if not a.text in ['<<', '>>']]
    for inner_link in tqdm(inner_links[1:], desc='Inner pages', leave=False):
        new_page = requests.get('https://dict.fu-lab.ru' + inner_link).text
        all_pages.append(new_page)

Letter pages:   0%|          | 0/52 [00:00<?, ?it/s]

Inner pages:   0%|          | 0/5 [00:00<?, ?it/s]

Inner pages:   0%|          | 0/5 [00:00<?, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages:   0%|          | 0/4 [00:00<?, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages:   0%|          | 0/2 [00:00<?, ?it/s]

Inner pages:   0%|          | 0/2 [00:00<?, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages:   0%|          | 0/5 [00:00<?, ?it/s]

Inner pages:   0%|          | 0/4 [00:00<?, ?it/s]

Inner pages:   0%|          | 0/3 [00:00<?, ?it/s]

Inner pages:   0%|          | 0/5 [00:00<?, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages:   0%|          | 0/2 [00:00<?, ?it/s]

Inner pages:   0%|          | 0/2 [00:00<?, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages:   0%|          | 0/6 [00:00<?, ?it/s]

Inner pages:   0%|          | 0/1 [00:00<?, ?it/s]

Inner pages:   0%|          | 0/6 [00:00<?, ?it/s]

Inner pages:   0%|          | 0/6 [00:00<?, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages:   0%|          | 0/1 [00:00<?, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages:   0%|          | 0/6 [00:00<?, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages:   0%|          | 0/1 [00:00<?, ?it/s]

Inner pages:   0%|          | 0/1 [00:00<?, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages:   0%|          | 0/1 [00:00<?, ?it/s]

Inner pages:   0%|          | 0/1 [00:00<?, ?it/s]

Inner pages: 0it [00:00, ?it/s]

Inner pages:   0%|          | 0/1 [00:00<?, ?it/s]

Inner pages:   0%|          | 0/1 [00:00<?, ?it/s]

Inner pages: 0it [00:00, ?it/s]

фомирование итогового списка переводов

In [24]:
all_words = []

In [25]:
for page in tqdm(all_pages):
    all_words.extend([(div.findAll('div')[0].find('a').text, div.findAll('div')[1].find('span').text) for div in bs(page).findAll('div', {'class': 'row dict_p_content_item'})])

  0%|          | 0/123 [00:00<?, ?it/s]

In [27]:
words_df = pd.DataFrame({
    'target': [el[0] for el in all_words],
    'source': [el[1] for el in all_words]
})
words_df

               target                                    source
0               а̄ӈкв                                самка лося
1           а̄ӈква̄ги  двоюродная сестра (по материнской линии)
2             а̄ӈквал                           1. столб2. пень
3     а̄ӈквата̄луӈкве                     взглянуть, посмотреть
4        а̄ӈкватаӈкве                                 взглянуть
...               ...                                       ...
4375         я̄смилыӈ                       полосатый (о ткани)
4376            я̄тил                           милый, любезный
4377             ятри                             косач (птица)
4378            я̄хул                                     чебак
4379             яхам                             духота, душно

[4380 rows x 2 columns]

# пост обработка

## удаление дубликатов

In [38]:
words_df.duplicated().sum()

785

In [39]:
words_df = words_df.drop_duplicates(keep='first').reset_index(drop=True)
words_df

               target                                    source
0               а̄ӈкв                                самка лося
1           а̄ӈква̄ги  двоюродная сестра (по материнской линии)
2             а̄ӈквал                           1. столб2. пень
3     а̄ӈквата̄луӈкве                     взглянуть, посмотреть
4        а̄ӈкватаӈкве                                 взглянуть
...               ...                                       ...
3590         я̄смилыӈ                       полосатый (о ткани)
3591            я̄тил                           милый, любезный
3592             ятри                             косач (птица)
3593            я̄хул                                     чебак
3594             яхам                             духота, душно

[3595 rows x 2 columns]

## проверки на символы

In [40]:
words_df[words_df.source.str.contains('Ⅰ')]

    target                                       source
226     ат  Ⅰчаст.не    ат минэ̄гум не пойдуⅡпятьⅢзапах

In [49]:
words_df[words_df.source.str.contains('1.')]

            target                                    source
2          а̄ӈквал                           1. столб2. пень
15            а̄ги                         1. дочь2. девушка
16        а̄гирись                        1. девочка2. дочка
122            ала                         1. крыша2. крышка
129        алуӈкве           1. убить2. добыть (рыбу, зверя)
...            ...                                       ...
3567          яныг  1. большой2. великий3. старший4. главный
3578          яныт                     1. величина2. возраст
3584  я̄рмалтаӈкве                 1. задержать2. загородить
3586        я̄ртпи                 1. преграда2. заграждение
3589           я̄с                          1. колея2. русло

[245 rows x 2 columns]

здесь исправил одно супер кривое слово

In [50]:
words_df.loc[226, 'source'] = '1.не2.пять3.запах'

избавляемся от xa0, за ним идет пример употребления

In [56]:
words_df.loc[words_df.source.str.contains('\xa0')]

      target                                            source
36       акв                      один    акв хум один мужчина
223     а̄ти            нет    а̄ти, ат минэ̄гум нет, не пойду
248     атыр                   ясный    атыр то̄рум ясное небо
677     иӈыт     ещё не    а̄сюм иӈыт ёхты отец ещё не приехал
1914  паттыл  сбивание    па̄кв паттыл сбивание кедровых шишек

их всего 5 штук, так что можно вручную добавить их в датасет

In [57]:
add_df = pd.DataFrame({
    'target': [
        'акв хум',
        'а̄ти, ат минэ̄гум',
        'атыр то̄рум',
        'а̄сюм иӈыт ёхты',
        'па̄кв паттыл'
    ],
    'source': [
        'один мужчина',
        'нет, не пойду',
        'ясное небо',
        'отец ещё не приехал',
        'сбивание кедровых шишек'
    ]
})
add_df

              target                   source
0            акв хум             один мужчина
1  а̄ти, ат минэ̄гум            нет, не пойду
2        атыр то̄рум               ясное небо
3    а̄сюм иӈыт ёхты      отец ещё не приехал
4       па̄кв паттыл  сбивание кедровых шишек

In [60]:
words_df = pd.concat([words_df, add_df], axis=0, ignore_index=True)

и убираем теперь сами переводы

In [61]:
words_df[words_df.source.str.contains('\xa0')].applymap(lambda x: x[:x.find('\xa0')]).source.tolist()

['один', 'нет', 'ясный', 'ещё не', 'сбивание']

In [62]:
words_df.loc[words_df.source.str.contains('\xa0'), 'source'] = words_df[words_df.source.str.contains('\xa0')].applymap(lambda x: x[:x.find('\xa0')]).source.tolist()

In [63]:
words_df

                 target                                    source
0                 а̄ӈкв                                самка лося
1             а̄ӈква̄ги  двоюродная сестра (по материнской линии)
2               а̄ӈквал                           1. столб2. пень
3       а̄ӈквата̄луӈкве                     взглянуть, посмотреть
4          а̄ӈкватаӈкве                                 взглянуть
...                 ...                                       ...
3595            акв хум                              один мужчина
3596  а̄ти, ат минэ̄гум                             нет, не пойду
3597        атыр то̄рум                                ясное небо
3598    а̄сюм иӈыт ёхты                       отец ещё не приехал
3599       па̄кв паттыл                   сбивание кедровых шишек

[3600 rows x 2 columns]

In [70]:
backup = words_df.copy()

## цифры

In [128]:
words_df[words_df.source.str.contains('1.')]

            target                                    source
2          а̄ӈквал                           1. столб2. пень
15            а̄ги                         1. дочь2. девушка
16        а̄гирись                        1. девочка2. дочка
122            ала                         1. крыша2. крышка
129        алуӈкве           1. убить2. добыть (рыбу, зверя)
...            ...                                       ...
3567          яныг  1. большой2. великий3. старший4. главный
3578          яныт                     1. величина2. возраст
3584  я̄рмалтаӈкве                 1. задержать2. загородить
3586        я̄ртпи                 1. преграда2. заграждение
3589           я̄с                          1. колея2. русло

[246 rows x 2 columns]

In [129]:
def split_string(s):
    pattern = r'\d+\.\s*'
    return re.split(pattern, s)[1:]

In [130]:
words_df[words_df.target == 'нуса']

     target                                      source
1563   нуса  1. нужда, нищета, бедность2. бедный, нищий

In [131]:
digits_lists = words_df[words_df.source.str.contains('1.')].source.apply(split_string)
digits_lists

2                              [столб, пень]
15                           [дочь, девушка]
16                          [девочка, дочка]
122                          [крыша, крышка]
129            [убить, добыть (рыбу, зверя)]
                        ...
3567    [большой, великий, старший, главный]
3578                     [величина, возраст]
3584                 [задержать, загородить]
3586                 [преграда, заграждение]
3589                          [колея, русло]
Name: source, Length: 246, dtype: object

In [132]:
digits_lists.loc[1563]

['нужда, нищета, бедность', 'бедный, нищий']

In [133]:
exploded_digits = pd.concat([
    words_df[words_df.source.str.contains('1.')].target,
    digits_lists
], axis=1).explode('source', ignore_index=True)
exploded_digits

           target       source
0         а̄ӈквал        столб
1         а̄ӈквал         пень
2            а̄ги         дочь
3            а̄ги      девушка
4        а̄гирись      девочка
..            ...          ...
533  я̄рмалтаӈкве   загородить
534        я̄ртпи     преграда
535        я̄ртпи  заграждение
536           я̄с        колея
537           я̄с        русло

[538 rows x 2 columns]

In [134]:
# удаляем старые слова из датасета
words_df = words_df.drop(index=digits_lists.index)

# добавляем новые exploded слова
words_df = pd.concat([
    words_df,
    exploded_digits
], axis=0, ignore_index=True)
words_df

               target                                    source
0               а̄ӈкв                                самка лося
1           а̄ӈква̄ги  двоюродная сестра (по материнской линии)
2     а̄ӈквата̄луӈкве                     взглянуть, посмотреть
3        а̄ӈкватаӈкве                                 взглянуть
4            а̄ӈквпыг    двоюродный брат (по материнской линии)
...               ...                                       ...
3887     я̄рмалтаӈкве                                загородить
3888           я̄ртпи                                  преграда
3889           я̄ртпи                               заграждение
3890              я̄с                                     колея
3891              я̄с                                     русло

[3892 rows x 2 columns]

In [135]:
words_df[words_df.target.str.contains('нуса')]

              target                   source
1488           нусаг                    бедно
1489  нусаг патуӈкве                 обеднеть
1490      нусамаӈкве   нуждаться, бедствовать
3520            нуса  нужда, нищета, бедность
3521            нуса            бедный, нищий

## скобки

In [138]:
words_df[words_df.source.str.contains('\\(')]

               target                                             source
1           а̄ӈква̄ги           двоюродная сестра (по материнской линии)
4            а̄ӈквпыг             двоюродный брат (по материнской линии)
9         а̄ви со̄пла                                      косяк (двери)
10          а̄ви сӯнт                                      порог (двери)
11          а̄ви ха̄п                                      порог (двери)
...               ...                                                ...
3802  харыгла̄нтуӈкве                                  гаснуть (об огне)
3828       хольгуӈкве                              плескаться (о волнах)
3869             э̄сь  двоюродная сестра (по отцовской линии, младше ...
3872           э̄тпос                                       месяц (луна)
3873           э̄тпос                                месяц (календарный)

[572 rows x 2 columns]

In [143]:
ind2check = words_df[words_df.source.str.contains('\\(')].index.copy()

In [140]:
def remove_parentheses(s):
    return re.sub(r'\s*\([^)]*\)', '', s)

In [144]:
words_df.loc[words_df.source.str.contains('\\('), 'source'] = words_df[words_df.source.str.contains('\\(')].source.apply(remove_parentheses).tolist()

In [145]:
words_df.loc[ind2check]

               target             source
1           а̄ӈква̄ги  двоюродная сестра
4            а̄ӈквпыг    двоюродный брат
9         а̄ви со̄пла              косяк
10          а̄ви сӯнт              порог
11          а̄ви ха̄п              порог
...               ...                ...
3802  харыгла̄нтуӈкве            гаснуть
3828       хольгуӈкве         плескаться
3869             э̄сь  двоюродная сестра
3872           э̄тпос              месяц
3873           э̄тпос              месяц

[572 rows x 2 columns]

## запятые

In [147]:
words_df[words_df.source.str.contains(',')]

               target                     source
2     а̄ӈквата̄луӈкве      взглянуть, посмотреть
6          а̄ӈхвуӈкве      раздеть, снять одежду
7       а̄ӈхвыглаӈкве  раздевать, снимать одежду
12             а̄врах        обрыв, крутой берег
16          а̄гмхарыӈ              хилый, чахлый
...               ...                        ...
3817   хо̄игла̄луӈкве         заезжать, заходить
3818      хо̄иглаӈкве      удариться, стукнуться
3819      хо̄иглаӈкве             заехать, зайти
3866     э̄ссамтаӈкве       стыдиться, смущаться
3867     э̄ссамтаӈкве           стыдить, смущать

[788 rows x 2 columns]

In [148]:
trans_lists = words_df[words_df.source.str.contains(',')].source.apply(lambda x: [el.strip() for el in x.split(',')]).iloc[:-1]#.explode()
trans_lists

2           [взглянуть, посмотреть]
6           [раздеть, снять одежду]
7       [раздевать, снимать одежду]
12            [обрыв, крутой берег]
16                  [хилый, чахлый]
                   ...
3816         [ударяться, стукаться]
3817           [заезжать, заходить]
3818        [удариться, стукнуться]
3819               [заехать, зайти]
3866         [стыдиться, смущаться]
Name: source, Length: 787, dtype: object

In [149]:
exploded_commas = pd.concat([
    words_df.loc[trans_lists.index].target,
    trans_lists
], axis=1).explode('source', ignore_index=True).copy()
exploded_commas

               target        source
0     а̄ӈквата̄луӈкве     взглянуть
1     а̄ӈквата̄луӈкве    посмотреть
2          а̄ӈхвуӈкве       раздеть
3          а̄ӈхвуӈкве  снять одежду
4       а̄ӈхвыглаӈкве     раздевать
...               ...           ...
1610      хо̄иглаӈкве    стукнуться
1611      хо̄иглаӈкве       заехать
1612      хо̄иглаӈкве         зайти
1613     э̄ссамтаӈкве     стыдиться
1614     э̄ссамтаӈкве     смущаться

[1615 rows x 2 columns]

In [150]:
# удаляем старые слова из датасета
words_df = words_df.drop(index=trans_lists.index)

# добавляем новые exploded слова
words_df = pd.concat([
    words_df,
    exploded_commas
], axis=0, ignore_index=True)
words_df

            target             source
0            а̄ӈкв         самка лося
1        а̄ӈква̄ги  двоюродная сестра
2     а̄ӈкватаӈкве          взглянуть
3         а̄ӈквпыг    двоюродный брат
4            а̄ӈха          куропатка
...            ...                ...
4715   хо̄иглаӈкве         стукнуться
4716   хо̄иглаӈкве            заехать
4717   хо̄иглаӈкве              зайти
4718  э̄ссамтаӈкве          стыдиться
4719  э̄ссамтаӈкве          смущаться

[4720 rows x 2 columns]

In [151]:
words_df[words_df.target.str.contains('нуса')]

              target       source
1153           нусаг        бедно
1154  нусаг патуӈкве     обеднеть
3796      нусамаӈкве    нуждаться
3797      нусамаӈкве  бедствовать
4687            нуса        нужда
4688            нуса       нищета
4689            нуса     бедность
4690            нуса       бедный
4691            нуса        нищий

In [159]:
words_df[words_df.source.apply(lambda x: len(x)) > 20]

                target                                            source
469            ётлопся                        скребок для выделки камуса
485            итуӈкве                    перепрыгивать с ветки на ветку
850             лэ̄ӈкв                          детское меховое одеяльце
970              мислы                            смешанный кедровый лес
1028        на̄лкуӈкве                          очистить ствол от ветвей
1034  на̄лув-туясаӈкве                 толкнуть по направлению к водоёму
1097           нильсуп                           скребок для чистки рыбы
1309      о̄хтырлаӈкве                             валяться в беспорядке
1310      о̄хтыртаӈкве                           разбросать в беспорядке
1430              пе̄р                     продольный брус над краем нар
1691       са̄ӈквылтап                   струнный музыкальный инструмент
1692    са̄ӈквылтаӈкве        играть на струнном музыкальном инструменте
1887             сурты                           годовалый телёнок оленя
1978    тӯлыглахтуӈкве  выступать с представлениями на медвежьих игрищах
1981         то̄cня̄ра                            зимняя охотничья обувь
2094             тучаӈ              мешочек со швейными принадлежностями
2096               тыг                      глаг.прист.со значением сюда
2164                ӯн                          столб рыболовного запора
2575      я̄нтылтаӈкве                       дать возможность сгуститься
2597      па̄кв паттыл                           сбивание кедровых шишек
3179            аньмус                             до настоящего времени
3907     па̄г-хо̄юӈкве                             остановиться у берега
4315            тумран                            музыкальный инструмент
4387       ха̄йттуӈкве                            уносить что-либо бегом

In [160]:
words_df.target = words_df.target.apply(lambda x: x.strip())
words_df.source = words_df.source.apply(lambda x: x.strip())

In [161]:
words_df

            target             source
0            а̄ӈкв         самка лося
1        а̄ӈква̄ги  двоюродная сестра
2     а̄ӈкватаӈкве          взглянуть
3         а̄ӈквпыг    двоюродный брат
4            а̄ӈха          куропатка
...            ...                ...
4715   хо̄иглаӈкве         стукнуться
4716   хо̄иглаӈкве            заехать
4717   хо̄иглаӈкве              зайти
4718  э̄ссамтаӈкве          стыдиться
4719  э̄ссамтаӈкве          смущаться

[4720 rows x 2 columns]

In [163]:
words_df = words_df.drop_duplicates(keep='first').reset_index(drop=True)

In [164]:
words_df

            target             source
0            а̄ӈкв         самка лося
1        а̄ӈква̄ги  двоюродная сестра
2     а̄ӈкватаӈкве          взглянуть
3         а̄ӈквпыг    двоюродный брат
4            а̄ӈха          куропатка
...            ...                ...
4713   хо̄иглаӈкве         стукнуться
4714   хо̄иглаӈкве            заехать
4715   хо̄иглаӈкве              зайти
4716  э̄ссамтаӈкве          стыдиться
4717  э̄ссамтаӈкве          смущаться

[4718 rows x 2 columns]

In [165]:
words_df.to_csv('clear_dictionary.csv', index=False)